.container {
    width: 100%;
    height: 100%;
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10%;
}

.header {
    width: 100%;
    height: 69px;
    margin-top: 2%;
    background-color: #353535;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.searchbar {
    width: 53%;
    border-radius: 4px;
    background: #FFF;
    color: #949494;
    font-weight: 200;
    height: 39px;
    border: none;
    outline: none;
    padding-left: 4rem;
    font-size: 14px;
}

.locationIcon {
    position: absolute;
    top: 37%;
    left: 32%;
}

.title {
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    margin-right: 2.2rem;
}

.header2 {
    display: flex;
    width: 68%;
    margin: 2rem 0 2rem 3%;
    justify-content: space-between;
    align-items: center;

}

.two {
    width: 202px;
}

.search {
    width: 408px;
    padding: 11px 18px 11px 21px;
    margin-left: 1rem;
    border-radius: 4px 0px 0px 4px;
    border: 0px solid rgba(148, 148, 148, 0.60);
    background: #FFF;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.05);
    border: 1px solid #FFF;
    outline: 1px solid #FFF;
    
}

.row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.searchBtn {
    height: 47px;
    padding: 11px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
    border-radius: 0px 4px 4px 0px;
    background: #F47900;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
}
.bodyContainer{
    background: #fff;
}